//- Candidature-1
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
mj-section(background-color="#1f262d" padding="0")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/D7qgVpR/assurance092024.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") Romane 20 ans,
            p(style="margin:10px 0 33px 0;color:#c3cbd5;") CESS + Certificat de qualification agent en accueil et tourisme - Mouscron. Ambitieuse, autonome, perfectionniste, organisée. Je m'adapte facilement, et fait preuve une grande patience.
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
//- Candidature-2
mj-section(background-color="#1f262d" padding="0" direction="rtl")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/D7qgVpR/assurance092024.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") Romane 20 ans,
            p(style="margin:10px 0 33px 0;color:#c3cbd5;") CESS + Certificat de qualification agent en accueil et tourisme - Mouscron. Ambitieuse, autonome, perfectionniste, organisée. Je m'adapte facilement, et fait preuve une grande patience.
//- Candidature-3
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
mj-section(background-color="#1f262d" padding="0")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/D7qgVpR/assurance092024.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") Romane 20 ans,
            p(style="margin:10px 0 33px 0;color:#c3cbd5;") CESS + Certificat de qualification agent en accueil et tourisme - Mouscron. Ambitieuse, autonome, perfectionniste, organisée. Je m'adapte facilement, et fait preuve une grande patience.
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
//- Texte de l'annonce
    mj-section(background-color="#1e94ae" padding="0px 25px")
    mj-column
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="16px" )
            p(style="margin:10px 0 33px 0;color:#ffffff;") Aide possible de l'État à hauteur de 6 000 €
            p(style="margin:10px 0;color:#3f4b5c;") Des candidatures retiennent votre attention ? N'hésitez pas à prendre contact avec nous sur contact@alesiaformation.fr
            p(style="margin:10px 0;color:#ffffff;") Cordialement,
            p(style="margin:10px 0 33px 0;color:#ffffff;") Christian Annaloro, responsable pédagogique d'écosup assurance.    
//- Call to action
    mj-section(background-color="#23AFD0" padding="10px 25px")
    mj-column
        mj-button(align="center", padding="0" font-family="Arial,sans-serif" font-size="16px" font-weight="500" line-height="16px") Je consulte le cvBook