//- Candidature-1
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
mj-section(background-color="#1f262d" padding="0")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/F8mLvM2/vassu01-092024.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") Romane 20 ans,
            p(style="margin:10px 0;color:#c3cbd5;") Bac général et Licence 1 Staps. #[span(style="color:#5e7187") Qualités :] organisée, autonome, dynamique, ponctuelle, polyvalente. #[span(style="color:#5e7187") Expériences :] gestion des stocks, préparation de commandes, animation de centres aérés.
            p(style="margin:10px 0 33px;text-align:right") #[a(style="color:#BA4995;" href="https://ecosup-assurance.fr/cv-book/") cvBook code 082024]
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
//- Candidature-2
mj-section(background-color="#1f262d" padding="0" direction="rtl")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/JR62jkQ/vassu02-092024.jpg.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") Éliot 20 ans,
            p(style="margin:10px 0;color:#c3cbd5;") Bac ES. #[span(style="color:#5e7187") Qualités :]  organisé, minutieux, dynamique et rigoureux. #[span(style="color:#5e7187") Expériences :] comptabilité, gestion des stocks, gestion des caisses, vente, conseils et mise en rayon de produits.
            p(style="margin:10px 0 33px;text-align:right") #[a(style="color:#BA4995;" href="https://ecosup-assurance.fr/cv-book/") cvBook code 082024]
//- Candidature-3
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")
mj-section(background-color="#1f262d" padding="0")
    mj-column(width="40%" padding="0")
        mj-image(align="left" fluid-on-mobile="true" padding="0" src="https://i.ibb.co/rcqzFfr/vassu03-092024.jpg" alt="Romane" width="280px")
    mj-column(width="60%" padding="25px")
        mj-text(align="left" padding="0" font-family="Arial, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            h2(style="margin:10px 0;color:#ffffff;font-size:20px;font-weight:900;line-height:24px") NaÎma, 19 ans
            p(style="margin:10px 0;color:#c3cbd5;") Bac général. #[span(style="color:#5e7187") Qualités :]  ponctuelle, autonome, sérieuse. #[span(style="color:#5e7187") Expériences:] conseillère clientèle , préparatrice de commandes.
            p(style="margin:10px 0 33px;text-align:right") #[a(style="color:#BA4995;" href="https://ecosup-assurance.fr/cv-book/") cvBook code 082024]
mj-section(padding="0")
    mj-column
        mj-spacer(height="16px")