mj-section(background-color='#270938')
    mj-column(width='30%')
        mj-image(padding='10px 0' border='none' target='_blank' src='https://i.ibb.co/SmTfMy7/news-AE04-082024.jpg' href='https://ecosup-assurance.fr/cv-book/' alt='Couverture du nouveau CV Book avec de nouveaux étudiants')/
    mj-column(width='70%')
        mj-text(padding='0px 25px' align='left' font-size='14px' font-weight='900' color='#718096' line-height='18px' text-transform='uppercase') Apprentissage
        mj-text(padding='5px 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#ffffff') Votre entreprise recherche un collaborateur ! 
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#e2e5e9") Certains de nos étudiants(es) n'ont toujours pas de #[span(style="font-weight:700;") contrat d'apprentissage]. Découvrez leur profil, téléchargez et consultez notre #[a(style="color:#BA4995;font-weight:700" href="https://ecosup-assurance.fr/cv-book/") CV Book code:082024]. Vous y trouverez sans aucun doute votre futur apprenti !