mj-section(background-color='#270938' direction="rtl")
    mj-column(width='40%' vertical-align="middle")
        mj-image(padding='10px 0' width="240px"  target='_blank' src='https://i.ibb.co/SmTfMy7/news-AE04-082024.jpg' href='https://ecosup-assurance.fr/cv-book/' alt='Couverture du nouveau CV Book avec de nouveaux étudiants')/
    mj-column(width='60%')
        mj-text(padding='20px 25px 5px 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#ffffff') Des candidatures retiennent votre attention ! 
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#e2e5e9") Téléchargez et consultez notre #[a(style="color:#BA4995;font-weight:700" href="https://ecosup-assurance.fr/cv-book/") CV Book code 082024] pour découvrir davantage de profils et trouver votre futur(e) apprenti(e) !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#e2e5e9") Christian Annaloro, 
            p(style="padding:0; margin:0;font-size:12px;line-height:16px;") responsable pédagogique 
            p(style="padding:0; margin:0;font-size:12px;line-height:16px;") d'Ecosup Assurance 
            p(style="padding:0;margin:0;font-size:13px;line-height:16px;") #[a(style="color:#BA4995;font-weight:700" href="tel:0616262619") Tél. 06.16.26.26.19]