//- Réseaux sociaux
mj-section(background-color="#1e94ae" padding="10px 25px")
    mj-column
        mj-social(padding="0" icon-size="30px" inner-padding="4px")
            mj-social-element(background-color="#395498" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png")
            mj-social-element(background-color="#cb04af" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png")
            mj-social-element(background-color="#ff0000" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/youtube.png")
            mj-social-element(background-color="#0184ca" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png")
            mj-social-element(background-color="#000000" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/tiktok.png")
//- Réglement
mj-section(padding="0 20px")
    mj-column
        mj-text(align="center" font-family="Helvetica, sans-serif" font-size="16px" font-weight="400" line-height="32px" color="#27272b") This e-mail was sent to contact@ecosup-sante.fr because you've opted-in to receive news and promotional emails from us. Click #[a(style="color:#000000" href="{{ unsubscribe }}") here] to unsubscribe.
     
    
    
