//- Hero text
mj-section(background-color="#270938" padding="0px 25px")
    mj-column
        mj-text(align="center" font-family="Open Sans, Helvetica, Arial, sans-serif" color="#ffffff" padding="0")
            h1(style="margin:10px 0;font-size:40px;font-weight:700;line-height:44px;") Votre assistant(e) adminstratif(ve) en alternance
            h2(style="margin:0px 0;font-size:40px;font-weight:700;line-height:40px;") BTS Assurance
            p(style="margin:10px 0;font-family:Arial, sans-serif;font-size:18px;font-weight:300;line-height:22px;text-transform:uppercase") Une sélection exclusive de candidat(e)s à retrouver dans notre #[a(style="color:#ffffff" href="#") cvBook :]