//- Hero text
mj-section(background-color="#270938" padding="20px 25px")
    mj-column(width="100%")
        mj-image(align="center" padding="0" src="https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png" alt="logo" width="160px")
    mj-column(width="80%")
        mj-text(align="center" font-family="Open Sans, Helvetica, Arial, sans-serif" color="#ffffff" padding="0")
            h1(style="margin:5px 0;font-size:40px;font-weight:700;line-height:44px;") Votre assistant(e) adminstratif(ve) en alternance
            h2(style="margin:0px 0;font-size:24px;font-weight:700;line-height:28px;color:#c3cbd5;") BTS Assurance
            p(style="margin:5px 0;font-family:Arial, sans-serif;font-size:18px;font-weight:300;line-height:22px;color:#c3cbd5;text-transform:uppercase") Une sélection exclusive de candidat(e)s à retrouver dans notre #[a(style="color:#ffffff" href="#") cvBook :]