//- Logo
mj-section(background-color='#23afd0' padding="10px 25px")
    mj-column
        mj-image(align="center" padding="0" src="https://jlzu.mjt.lu/img2/jlzu/45be2fd0-5096-4132-a329-7b3ad45ccd04/content" alt="logo" width="100px")
    