extends templates/_layout
//- content
block content
    //- Logo
        mj-section(background-color='#ffffff')
    //- Hero text
    //- Photo candidature
    //- Texte de l'annonce
    //- Call to action
    //- Réseaux sociaux
    //- Réglement
    mj-section
        mj-column
            mj-text This e-mail was sent to contact@ecosup-sante.fr because you've opted-in to receive news and promotional emails from us. Click here to unsubscribe.
     
    
    
