extends templates/_layout
//- content
block content
    //- Logo
    mj-section(background-color='#23afd0' padding="10px 25px")
        mj-column
            mj-image
    //- Hero text
    mj-section(background-color="#293137" padding="0px 25px")
        mj-column
            mj-text
                h1 Votre assistant(e) addminstratif(ve) en alternance
                h1 BTS Sam
                p Alésia Lille
    //- Photo candidature
    mj-section(background-color="#23afd0" padding="10px 25px")
        mj-column
            mj-image
    //- Texte de l'annonce
    //- Call to action
    //- Réseaux sociaux
    //- Réglement
    mj-section
        mj-column
            mj-text This e-mail was sent to contact@ecosup-sante.fr because you've opted-in to receive news and promotional emails from us. Click here to unsubscribe.
     
    
    
